@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/*Navbar Section*/



.navbarContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  height: 120px;
  padding: 15px;
  font-size: 16px;
  background-color: #161619;
  padding: 0 25px;
}

.navbarComponent {
  display: flex;
  flex: 1;
}

.navbarContainer li {
  display: inline-block;
  padding: 0px 15px;
  font-weight: 400;
}

.navbarContainer ul {
  padding-left: 0px;
}

.navbarComponent.right {
  justify-content: flex-end;
}

.navbarComponent.left {
  justify-content: flex-start;
}

.navbarContainer h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbarContainer li label {
  padding: 10px;
}

.navbarContainer li select {
  background-color: transparent;
}

.navbarContainer li option {
  background-color: black
}

.cart{
  display: inline-block;
}

.cart p{
  display: inline-block;
  margin: 0px 10px;
  background-color: white;
  padding: 1px 5px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.searchBar input{
  background-color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 50px;
  width: 200px;
  margin: auto;
  cursor:auto;
  color: black;
  text-indent: 15px;

}

.underlineHover {
  position: relative;
}

.underlineHover:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(255, 255, 255);
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}

.underlineHover:hover:after {
  width: 100%;
  left: 0;
  background: rgb(255, 255, 255);
}

.openClose{
  display: none;
}
.mobileNavbar{
  display: none;
}
.signInBar{
    display: flex;
    background: rgba(212, 211, 211, 0.1);
    height: 100%;
    position: relative;
    top: -120px;
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    justify-content: flex-end; 
}
.signInBarContainer{
  width: 40vw;
  background-color: white;
  overflow-y: auto;
  
}
.signInBarContainer .signInHeader{
  display: flex;
  justify-content: space-between;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);

  }
}

@media(max-width: 1250px) {
  .openClose{
    display: inline-block;
    flex: 1;
  }
  .openClose i{
    font-size: 20px;
  }
  
  
  .navbarItems{
    display: none;
  }
  
  
  .mobileNavbar{
    display: flex;
    background: rgba(212, 211, 211, 0.1);
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    width: 0;    
  }
  .mobileNavbar .mNavbarContainer{
    width: 0;
    transition: 0.2s;
  }

  .mobileNavbar.active .mNavbarContainer{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    width: 50vw;
    overflow-y: auto;
  }
  .mobileNavbar.active{
    width: 100vw;
  }
  .mNavbarContainer ul{
    padding-top: 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    

  }
  .mNavbarContainer li{
    padding: 20px 0px;
    font-size: 15px;
    font-weight: 500;
  }
  .mNavbarContainer li label{
    padding-right: 15px;

  }
  .searchBar input{
    width: 35vw;
    font-size: 20px;
    border-radius: 0px;
    border: none;
    text-indent: 2px;
    box-shadow: none;
    transition: .3s ease;;
    
  }
  .searchBar input:focus{
    outline: none;
    box-shadow: 0 1px 0 0 rgb(0, 0, 0);
}
  .underlineHover:after {
    background: black;
  }
  .underlineHover:hover:after{
    background: black;
  }
  .navbarContainer{
    height: 70px;
  }
  .navbarContainer h1{
    font-size: 25px;
  }

  @media(max-width: 450px) {
    .mobileNavbar.active .mNavbarContainer{
      width: 100vw;
    }
  }

  
  
}